
<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:79vh">
    <div class="p-2 container" style="height:100%">
        <div class="row" >
            <div class="col-6">
                <h1><b>Actividad 10 - Comprención</b></h1>
                <h3>Lea la siguiente historia y responda las preguntas con la respuesta correcta.</h3>
                <img type="text" src="assets/img/ActividadCuento/cuento.png" style="width: 500px;height: 300px;" class="center"/>
            </div>
            <div class="col-6" style="padding-left: 15%;">
                <h1>Preguntas:</h1>
                <form>
                    <h3>¿Por que se ahogo el gusano?</h3>
                    <p>
                        <input type="radio" value="male" formControlName="correctaP1"> Por que pensó que era inutil. <br>
                        <input type="radio" value="female" formControlName="no1">  Por que no sabía nadar. <br>
                        <input type="radio" value="male" formControlName="no2">  Por que no había de donde sujetarse. <br>
                    </p>
                    <h3>¿Que pasó con el otro gusano?</h3>
                    <p>
                        <input type="radio" value="male" formControlName="correctaP2"> Nadó con todas sus fuerzas por un largo rato. <br>
                        <input type="radio" value="female" formControlName="no3">  Se ahogó al igual que el primero. <br>
                        <input type="radio" value="male" formControlName="no4"> Empezó a pedir ayuda. <br>
                    </p>
                    <h3>¿Como se salvó el gusano?</h3>
                    <p>
                        <input type="radio" value="male" formControlName="no5"> Se sujetó de un tronco y se salvó. <br>
                        <input type="radio" value="female" formControlName="correctaP3">  Se convirtió en mariposa y se salvó. <br>
                        <input type="radio" value="male" formControlName="no6">  Se dejó llevar por la corriente. <br>
                    </p>
                </form>
                <button (click)="enviarActividad2()" type="button" mat-button color="primary" style="margin-top:5%;width: 65%; background-color: rgb(127, 127, 243);">Enviar y pasar a la siguiente actividad</button>
            </div>
        </div>       
    </div>
</div>

