
<!--<button (click)="irAListarAdministrador()" class="btn btn-sm btn-success mb-2">regresar</button>-->
<div class="bg-light"  style="min-height: 320px; overflow: hidden;height: 89.6vh;">
    <div class="p-2 container" style="height:100% ;background-image: url('assets/img/cerebro.png');background-repeat: no-repeat;background-size: cover;">
        <br>
            <h1 ><b>Añadir Administrador</b></h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" style="height:100%">
                <div class="row" style="height: 21%">
                    <div class="form-group col-4">
                        <label><b>CarnetDeIdentidad</b></label>
                        <input type="number" formControlName="carnetDeIdentidad" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.carnetDeIdentidad.errors }" />
                        <div *ngIf="submitted && f.carnetDeIdentidad.errors" class="invalid-feedback">
                            <div *ngIf="f.carnetDeIdentidad.errors.required">Carnet de identidad requerido</div>
                        </div>

                    </div>
                    <div class="form-group col-4">
                        <label><b>Nombres</b></label>
                        <input type="text" formControlName="nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" />
                        <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                            <div *ngIf="f.nombres.errors.required">Nombres es un campo  requerido</div>
                            <div *ngIf="f.nombres.errors.whitespace">No se aceptan espacios</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label><b>Apellidos</b></label>
                        <input type="text" formControlName="apellidos" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }"/>
                        <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                            <div *ngIf="f.apellidos.errors.required">Apellidos es un campo  requerido</div>
                            <div *ngIf="f.apellidos.errors.whitespace">No se aceptan espacios</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 21%">
                    <div class="form-group col-4">
                        <label><b>Fecha de nacimiento</b></label>
                        <input type="date"  max="{{minimoFechaDeNacimiento}}" formControlName="fechaDeNacimiento" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.fechaDeNacimiento.errors }"/>
                        <div *ngIf="submitted && f.fechaDeNacimiento.errors" class="invalid-feedback">
                            <div *ngIf="f.fechaDeNacimiento.errors.required">Fecha de nacimiento es un campo  requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label><b>Genero</b></label>            
                        <select formControlName="sexo" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.sexo.errors }">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="No binario">No binario</option>
                            <option value="Transexual">Transexual</option>
                            <option value="Lesbiana">Lesbiana</option>
                            <option value="Otros">Otros</option>
                        </select>
                        <div *ngIf="submitted && f.sexo.errors" class="invalid-feedback">
                            <div *ngIf="f.sexo.errors.required">Genero es un campo  requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label><b>Numero telefonico</b></label>
                        <input type="number" formControlName="numeroTelefonico" class="form-control"   [ngClass]="{ 'is-invalid': submitted && f.numeroTelefonico.errors }"/>
                        <div *ngIf="submitted && f.numeroTelefonico.errors" class="invalid-feedback">
                            <div *ngIf="f.numeroTelefonico.errors.required">Numero telefonico es un campo  requerido</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 21%">
                    <div class="form-group col-4">
                        <label><b>Correo electronico</b></label>
                        <input type="email" formControlName="correoElectronico" class="form-control" autocomplete="off"  [ngClass]="{ 'is-invalid': submitted && f.correoElectronico.errors }"/>
                        <div *ngIf="submitted && f.correoElectronico.errors" class="invalid-feedback">
                            <div *ngIf="f.correoElectronico.errors.required">Correo electronico es un campo  requerido</div>
                            <div *ngIf="f.correoElectronico.errors.email">El correo debe estar en un formato correcto</div>
                            <div *ngIf="f.correoElectronico.errors.whitespace">No se aceptan espacios</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                    <label><b>Estado</b></label>
                    <select formControlName="estado" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">
                        <option value="true">Habilitado</option>
                        <option value="false">Deshabilitado</option>
                    </select>
                    <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                        <div *ngIf="f.estado.errors.required">Estado es un campo  requerido</div>
                    </div>
                </div>
                    <div class="form-group col-4">
                        <label><b>Fecha de registro</b></label><br>
                        <label>{{fechaActual}}</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <button type="submit" [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Enviar
                    </button>
                    <button (click)="irAListarAdministrador()" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
    </div>
</div>