<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:79vh">
    <div class="p-2 container" style="height:100%">
        <div class="row" >
            <div class="col-6">
                <h1><b>Actividad 7 - proceso visoespacial</b></h1>
                <h3>Reconocer la imagen original entre el conjunto de imagenes.</h3>
       
                <img type="text" src="../../../../../assets/img/FigurasActividad7/ImagenOriginal.png" style="width: 380px;height: 250px;" class="center"/>
                <br>
                <br>
                <button class="center" (click)="enviarActividad2()" type="button" mat-button color="primary" style="width: 65%; background-color: rgb(127, 127, 243);">Enviar y pasar a la siguiente actividad</button>
          
            </div>
            <div class="col-6">
                <table style="margin-top: 10%;">
                    <tr>
                      <td><button class="cuadradoBtn quitarBordes fig4" (click)="cambiarColorMarco($event,'no')" id="bt1"> </button></td>
                      <td><button class="cuadradoBtn quitarBordes fig3" (click)="cambiarColorMarco($event,'no')" id="bt2"> </button></td>
                    </tr>
                    <tr>
                        <td><button class="cuadradoBtn quitarBordes fig1" (click)="cambiarColorMarco($event,'si')" id="bt3"> </button></td>
                        <td><button class="cuadradoBtn quitarBordes fig2" (click)="cambiarColorMarco($event,'no')" id="bt4"> </button></td>
                    </tr>
                </table>
            </div>
        </div>       
    </div>
</div>

