<div class="bg-light"  style="min-height: 89vh; overflow: hidden;">
    <div class="p-2 container" style="min-height: 89vh;background-size: cover;background-image: url('assets/img/cerebro.png');">
        <h1>Resultados de las pruebas de desarollo cognitivo</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%">Codigo de prueba</th>
                    <th style="width: 10%">Fecha y hora de inicio</th>
                    <th style="width: 10%">Fecha y hora de finalización</th>
                    <th style="width: 10%">Duracion</th>
                    <th style="width: 10%">Puntaje Final</th>
                   
                </tr>
            </thead>
     
             <tbody>
                <tr *ngFor="let prueba of resultadorPruebasDesarolloCognitivo">
                    <td>{{prueba.tipoDePrueba}}</td>
                    <td>{{convertirFecha(prueba.FechaYHoraDeFin)}}</td>
                    <td>{{convertirFecha(prueba.FechaYHoraDeInicio)}}</td>
                    <td>{{convertirDirferenciaFechas(prueba.FechaYHoraDeInicio,prueba.FechaYHoraDeFin)}}</td>
                    <td><b>{{prueba.puntajeFinal}} %</b></td>
                    
                 
                </tr>
                <tr *ngIf="!resultadorPruebasDesarolloCognitivo">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
         
        </table>
    </div>
</div>

