<!-- barra de navegacion -->
 <!-- Toolbar -->
 <div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="assets/img/logo_psicologia.png"
  />
<!--  <span>CENTRO PSICOLOGICO INTEGRAL HUMANOS</span> --> 
  <section >
    
    <div class="example-button-row">
      
      <div class="example-flex-container">
        <button mat-icon-button  aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button  aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" style="margin-left: 1050px;">
            <mat-icon>contact_support</mat-icon>
        </button>
      
        <button mat-icon-button  aria-label="Example icon button with a heart icon" >
          <mat-icon>perm_identity</mat-icon>
        </button>
        <button mat-icon-button  aria-label="Example icon button with a open in new tab icon" >
          <mat-icon>notification_important</mat-icon>
        </button>
      </div>
    </div>
  </section>
</div>