<!-- barra de navegacion -->
 <!-- Toolbar -->

<p>
  <mat-toolbar style="background-color: #1976d2;">
    <mat-toolbar-row>
      <span></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" (click)="clickMenu()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button  aria-label="Example icon button with a home icon">
        <mat-icon >home</mat-icon>
      </button>
      
    

      
        
        <span class="example-spacer2"></span>
        <div >
          <p style="color: white;">¡Bienenido {{usuarioLogueado}}!</p>
        </div>
        <button mat-icon-button class="example-icon" aria-label="Example icon button with a open in new tab icon" >
        <mat-icon>notification_important</mat-icon>
      </button>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>contact_support</mat-icon>
      </button>
        <button mat-icon-button class="example-icon"  aria-label="Example icon button with a heart icon" >
          <mat-icon>perm_identity</mat-icon>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p> 