
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="true" style="width: 25%; align-items: center; display: flex;
    justify-content: center;">
    
    <section class="app">
      <aside class="sidebar">
             <header style=" width: 100%;;color: white;">
            Menú
          </header>
        <nav class="sidebar-nav">
     
          <ul>
            <li>
              <a href="#"><i class="ion-bag" ></i> <span ><img src="assets/img/iconos/actividades.png" width="30" height="30" class="d-inline-block align-top" alt=""> Control de actividades</span></a>
              <ul class="nav-flyout">
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeConsumoDeAgua()"><i class="ion-ios-color-filter-outline" ></i>
                    <img src="assets/img/iconos/agua.png" width="30" height="30" style="margin-right: 2px;" class="d-inline-block align-top" alt=""> Control de hidratación</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeSueno()"><i class="ion-ios-clock-outline" ></i>
                    <img src="assets/img/iconos/dormir.png" width="30" height="30"style="margin-right: 2px;"   class="d-inline-block align-top" alt=""> Control de sueño</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeAnimo()"><i class="ion-android-star-outline" ></i>
                    <img src="assets/img/iconos/animo.png" width="30" height="30"style="margin-right: 2px;"  class="d-inline-block align-top" alt=""> Control de animo</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeEstudio()"><i class="ion-heart-broken"  ></i>
                    <img src="assets/img/iconos/graduado.png" width="30" height="30" style="margin-right: 2px;" class="d-inline-block align-top" alt=""> Control de estudio</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeEnergia()"><i class="ion-heart-broken" ></i>
                    <img src="assets/img/iconos/energia.png" width="30" height="30"style="margin-right: 2px;"  class="d-inline-block align-top" alt=""> Control de energia</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="ion-bag" ></i> <span ><img src="assets/img/iconos/me-gusta.png" width="30" height="30" class="d-inline-block align-top" alt=""> Mis gustos</span></a>
              <ul class="nav-flyout">
        
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderVerLibro()"><i class="ion-ios-clock-outline" ></i>
                    <img src="assets/img/iconos/libro.png" width="30" height="30"style="margin-right: 1px;"  class="d-inline-block align-top" alt="">&nbsp;&nbsp; Ver libro</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderVerCancion()" ><i class="ion-heart-broken"></i>
                    <img src="assets/img/iconos/nota.png" width="30" height="30"style="margin-right: 1px;"  class="d-inline-block align-top" alt="">&nbsp; Ver Canciones</a>
                </li>
              </ul>
            </li>
            <li style="margin-top: 1%;">
              <a href="#"><i class="ion-ios-settings"></i> <span class=""><img src="assets/img/iconos/calendario.png" width="30" height="30" class="d-inline-block align-top" alt=""> Actividades en el calendario</span></a>
              <ul class="nav-flyout">
                
                <li>
                  <a href="#" class="myClase" style="color: white;"(click)="render_verMetasPersonales()"><i class="ion-ios-cog-outline"></i>
                    <img src="assets/img/iconos/exito.png" width="30" height="30"style="margin-right: 1px;"  class="d-inline-block align-top" alt=""> Ver metas personales</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="render_crearMetasSociales()"><i class="ion-ios-chatboxes-outline"></i>
                    <img src="assets/img/iconos/mision.png" width="30" height="30" style="margin-right: 1px;" class="d-inline-block align-top" alt=""> Ver metas diarias</a>
                </li>
              </ul>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="render_ResumenAgenda()"><i class="ion-ios-medical-outline"></i> <span class=""> 
              <img src="assets/img/iconos/exito.png" width="30" height="30"style="margin-right: 1px;"  class="d-inline-block align-top" alt=""> Resumen de mi agenda virtual</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="render_VerPruebasDeDesarrolloCognitivo()"><i class="ion-ios-medical-outline"></i> <span class="">
                <img src="assets/img/iconos/prueba.png" width="30" height="30"style="margin-right: 1px;"  class="d-inline-block align-top" alt=""> Pruebas de desarollo cognitivo</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderContactosDeEmergencia()"><i class="ion-ios-medical-outline"></i> <span class="">
                <img src="assets/img/iconos/llama.png" width="30" height="30" style="margin-right: 1px;" class="d-inline-block align-top" alt=""> Contactos de emergencia</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="logout()"><i class="ion-ios-medical-outline"></i> <span class="">
                <img src="assets/img/iconos/cerrar-sesion1.png" width="30"style="margin-right: 1px;"  height="30" class="d-inline-block align-top" alt=""> Cerrar sesión</span></a>
            </li>
          </ul>
        </nav>
      </aside>
    </section>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-template #dynamicComponent></ng-template>
    </mat-sidenav-content>
     
