
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="true" style="width: 20%; align-items: center; display: flex;
    justify-content: center;">
    
    <section class="app">
      <aside class="sidebar">
             <header style=" width: 100%;;color: white;">
            Menú
          </header>
        <nav class="sidebar-nav">
     
          <ul>
            <li>
              <a href="#"><i class="ion-bag" ></i> <span >Control de actividades</span></a>
              <ul class="nav-flyout">
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeConsumoDeAgua()"><i class="ion-ios-color-filter-outline" ></i>Control de hidratación</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeSueno()"><i class="ion-ios-clock-outline" ></i>Control de sueño</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeAnimo()"><i class="ion-android-star-outline" ></i>Control de animo</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeEstudio()"><i class="ion-heart-broken"  ></i>Control de estudio</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderControlDeEnergia()"><i class="ion-heart-broken" ></i>Control de energia</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="ion-bag" ></i> <span >Mis gustos</span></a>
              <ul class="nav-flyout">
        
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderVerLibro()"><i class="ion-ios-clock-outline" ></i>Ver libro</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="renderVerCancion()" ><i class="ion-heart-broken"></i>Ver Canciones</a>
                </li>
              </ul>
            </li>
            <li style="margin-top: 1%;">
              <a href="#"><i class="ion-ios-settings"></i> <span class="">Actividades en el calendario</span></a>
              <ul class="nav-flyout">
                
                <li>
                  <a href="#" class="myClase" style="color: white;"(click)="render_verMetasPersonales()"><i class="ion-ios-cog-outline"></i>Ver metas personales</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;" (click)="render_crearMetasSociales()"><i class="ion-ios-chatboxes-outline"></i>Ver metas diarias</a>
                </li>
              </ul>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="render_ResumenAgenda()"><i class="ion-ios-medical-outline"></i> <span class="">Resumen de mi agenda virtual</span></a>
            </li>
            
            <!-- 
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderPruebaGeneral()"><i class="ion-ios-medical-outline"></i> <span class="">Prueba general</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderPruebaGeneralLamina2()"><i class="ion-ios-medical-outline"></i> <span class="">Prueba general l2</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderPruebaGeneralLamina3()"><i class="ion-ios-medical-outline"></i> <span class="">Prueba general l3</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderPruebaGeneralLamina4()"><i class="ion-ios-medical-outline"></i> <span class="">Prueba general l4</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderPruebaGeneralLamina5()"><i class="ion-ios-medical-outline"></i> <span class="">Prueba general l5</span></a>
            </li>-->
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="render_ResultadosDesarolloCognitivoDesarrolloCognitivo()"><i class="ion-ios-medical-outline"></i> <span class="">Mis resultados de pruebas de desarollo cognitivo</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="render_VerPruebasDeDesarrolloCognitivo()"><i class="ion-ios-medical-outline"></i> <span class="">Pruebas de desarollo cognitivo</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderContactosDeEmergencia()"><i class="ion-ios-medical-outline"></i> <span class="">Contactos de emergencia</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="logout()"><i class="ion-ios-medical-outline"></i> <span class="">Cerrar sesión</span></a>
            </li>
          </ul>
        </nav>
      </aside>
    </section>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-template #dynamicComponent></ng-template>
    </mat-sidenav-content>
     


  