<div class="bg-light"  style="min-height: 89.8vh; overflow: hidden;">
    <div class="p-2 container" style="margin-left: 35%;">
        <br>
            <h1><b>Notificaciones</b></h1>
         
            <mat-card class="example-card" *ngFor="let evento of eventos">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{evento.Titulo}}</mat-card-title>
                  <mat-card-subtitle> Fecha del evento: {{evento.FechaDelEvento}}</mat-card-subtitle>
                  <mat-card-subtitle> Fecha de la publicacion: {{evento.FechaDePublicacion}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{evento.Imagen}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    {{evento.Descripcion}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button >Visto</button>
                  <button mat-button>No visto</button>
                </mat-card-actions>
            </mat-card>
    </div>
</div>

