<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:89.6vh">
    <div class="p-2 container" style="height:100%">
        <div class="row" >
            <div class="col-6">
                <br>
                <h1>Prueba de desarollo cognitivo general </h1>
                <h3><b>Descripción de la prueba</b></h3>
                <p>Esta prueba Estudia el funcionamiento cerebral y realiza un completo screening cognitivo. Evalúa de manera precisa un largo rango de habilidades y detecta el bienestar cognitivo (alto-medio-bajo). Identifica debilidades y fortalezas en las áreas de memoria, atención-concentración, funciones ejecutivas, planificación y coordinación </p>
                <br>
                <h3><b>Instrucciones de la prueba</b></h3>
                    
                <li>La prueba dura 15 minutos</li>
                <li>La prueba consiste en varias activididas divididas en laminas </li>
                <li>Debes completar cada actividad una en concecuencia de otra</li>
                <br>
                <h3><b>Tiempo requerido 15 minutos</b></h3>
            </div>
            <div class="col-6">
                <img type="text" src="assets/img/brain.png" style="max-width: 300px;max-height: 250px;margin-top: 10%;" class="center"/>
                <br>
                <br>
                <br>
                <button  id="ver prueba2" (click)="cambiarAplicacion()" mat-button color="primary" style="width: 100%; background-color: rgb(127, 127, 243);">Iniciar</button>
                <button mat-button color="warn" style="width: 100%;background-color: rgb(242, 117, 117); ">Cancelar</button>
                <br>
            
            </div>
        </div>
    </div>
</div>


