
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="true" style="width: 17%; align-items: center; display: flex;
    justify-content: center;">
    
    <section class="app">
      <aside class="sidebar">
             <header style=" width: 100%;;color: white;">
            Menú
          </header>
        <nav class="sidebar-nav">
     
          <ul>
            <li>
              <a href="#"><i class="ion-bag" ></i> <span >Mis gustos</span></a>
              <ul class="nav-flyout">
        
                <li>
                  <a href="#" class="myClase" style="color: white;" ><i class="ion-ios-clock-outline" ></i>Ver libro</a>
                </li>
                <li>
                  <a href="#" class="myClase" style="color: white;"  ><i class="ion-heart-broken"></i>Ver Canciones</a>
                </li>
                <li>
                    <a href="#" class="myClase" style="color: white;"  ><i class="ion-heart-broken"></i>Ver Canciones</a>
                  </li>
              </ul>
            </li>



            
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="logout()"><i class="ion-ios-medical-outline"></i> <span class="">Cerrar sesión</span></a>
            </li>
          </ul>
        </nav>
      </aside>
    </section>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-template #dynamicComponent></ng-template>
    </mat-sidenav-content>
     