<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:89.6vh">
    <div class="p-2 container" style="width: 100%; height: 90.3%;background-color: rgb(220, 235, 218)">
        <div class="row" >
            <div class="col-6">
                <br>
                <h1 style="font-size: 60px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="titulo">Contactanos</h1>
                <br>
                <br>
                <br>
                <h2 style="font-size: 20px;" class="estilo_letra"><b>Llamara los siguientes contactos que estan disponibles:</b></h2>
                <p class="estilo_letra2" style="margin-left: 3%;">Contacto de la psicologa : <button class="boton_agregar_llamar" 
                    style="background-color:#71b0e0;border-color: #15297c;height: 60%; width: 30%;"><a href="tel:+59177504305">
                        77504305<br><img src="assets/img/llamada1.png" width="30" height="30" class="d-inline-block align-top" alt=""></a></button></p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2><b><p style="font-size: 20px;" class="estilo_letra">Mandar mensaje:</p></b></h2>
                <p class="estilo_letra1">Mandanos un mesaje por whatsapp : <button class="boton_agregar" style="background-color:#7cd6b3;
                border-color: #89d631;height: 10%; width: 40%;"><a style="font-size: 15px;" 
                href="https://api.whatsapp.com/send/?phone=%2B59177504305&text=Hola%2C+necesito+hablar.&app_absent=0">
                WhatsApp<br><img src="assets/img/whatsapp.png" width="30" height="30" class="d-inline-block align-top" alt=""></a></button></p>
            </div>
            <div class="col-6">
                <img type="text" src="assets/img/contact5.png" style="width: 500px;height: 500px;margin-top: 10%;" class="center"/>
                <br>
                <br>
                <br>   
            
            </div>
        </div>
    </div>
</div>

