<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:89.6vh">
    <div class="p-2 container" style="min-height: 89vh;background-size: cover;background-image: url('assets/img/contactos.png');">
        <br>
        <br>
            <h1 style="font-size: 60px;"><b>Contactos</b></h1>
            <br>
            <br>
            <br>
            <p style="font-size: 20px;">Llamara los siguientes contactos que estan disponibles:</p>
            <p>Contacto de la psicologa : <button class="boton" style="background-color:#2898ee;border-color: #15297c;height: 80%; width: 10%;"><a href="tel:+59177504305">77504305</a></button></p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p style="font-size: 20px;">Mandar mensaje:</p>
            <button class="boton" style="background-color:#32ae7e;border-color: #89d631;height: 80%; width: 20%;"><a style="font-size: 15px;" href="https://wa.me/+59177504305?text=I%27m%20interested%20in%20your%20car%20for%20sale">WhatsApp</a></button>
    </div>
</div>
