<div class="bg-light"  style="height:75vh">
    <div class="p-2 container">
        <div class="row" >
            <div class="col-6">
                <h1><b>Lamina 3 - Memoria</b></h1>
                <h3><b>Imagen de ejemplo</b></h3>
                <img type="text" src="assets/img/estrellaEjemplo.png" style="max-width: 400px;max-height: 600px;" class="center"/>
                <br>
                <button (click)="enviarActividad2()" type="button" mat-button color="primary" style="width: 58%; background-color: rgb(127, 127, 243);">Enviar y pasar a la siguiente actividad</button>
                <br>
            </div>
            <div class="col-6">
                <br>
                <table>
                    <tr>
                      <td><button class="cuadradoBtn quitarBordes fig1"> </button></td>
                      <td><button class="cuadradoBtn quitarBordes fig2"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig3" ></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig4"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig5"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig6"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig4"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig7"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig8"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig9"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig10"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig11"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig12"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig2"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig6"></button></td>
                      <td><button class="cuadradoBtn quitarBordes fig9"></button></td>
                    </tr>
                    <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                      <tr>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                        <td><button class="cuadradoBtn"></button></td>
                      </tr>
                </table>
            </div>
        </div>
    </div>
</div>
