.cuadradoBtn{
    width: 35px;
    height: 35px;
}
.quitarBordes{
    border:0ch;
    outline:none;
}
.fig1{
    background-image: url("../../../../../assets/img/figuras/f1.png");
}
.fig2{
    background-image: url("../../../../../assets/img/figuras/f2.png");
}
.fig3{
    background-image: url("../../../../../assets/img/figuras/f3.png");
}
.fig4{
    background-image: url("../../../../../assets/img/figuras/f4.png");
}
.fig5{
    background-image: url("../../../../../assets/img/figuras/f5.png");
}
.fig6{
    background-image: url("../../../../../assets/img/figuras/f6.png");
}
.fig7{
    background-image: url("../../../../../assets/img/figuras/f7.png");
}
.fig8{
    background-image: url("../../../../../assets/img/figuras/f8.png");
}
.fig9{
    background-image: url("../../../../../assets/img/figuras/f9.png");
}
.fig10{
    background-image: url("../../../../../assets/img/figuras/f10.png");
}
.fig11{
    background-image: url("../../../../../assets/img/figuras/f11.png");
}
.fig12{
    background-image: url("../../../../../assets/img/figuras/f12.png");
}
.fig13{
    background-image: url("../../../../../assets/img/figuras/f13.png");
}
.fig14{
    background-image: url("../../../../../assets/img/figuras/f14.png");
}
.fig15{
    background-image: url("../../../../../assets/img/figuras/f15.png");
}
.fig16{
    background-image: url("../../../../../assets/img/figuras/f16.png");
}


