<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:89.6vh">
    <div class="p-4 container" style="height:100%">
        <div class="row" >
            <div class="col-6" style="">
                <br>
                <h1><b>Contenido de la prueba</b></h1>
                <ul>
                    <li><b>Lamina 1</b>
                      <ul>
                        <li>Registro</li>
                      </ul>
                    </li>
                    <li><b>Lamina 2</b>
                        <ul>
                            <li>Reconocimiento</li>
                            <li>Memoria</li>
                            <li>Detección visual</li>
                            <li>Lógico matematico</li>
                            <li>Codificación</li>
                            <li>Proceso visoespacial</li>
                            <li>Reconocimiento y denominación</li>
                            <li>Comprención</li>
                            <li>Fluidez verbal</li>
                            <li>Conceptualización</li>
                            <li>Fluidez verbal</li>
                            <li>Memoria verbal espontanea</li>
                            <li>Memoria verbal espontanea por claves</li>
                            <li>Reconocimiento</li>
                        </ul>
                      </li>
                </ul>
            </div>
            <div class="col-6">
                <img type="text" src="assets/img/listaPruebaGeneral.png" style="max-width: 200px;max-height: 200px;margin-top: 10%;" class="center"/>
                <br>
                <br>
                <br>
                <button (click)="cambiarAplicacion()" mat-button color="primary" style="width: 100%; background-color: rgb(127, 127, 243);">Iniciar</button>
                <button mat-button color="warn" style="width: 100%;background-color: rgb(242, 117, 117); ">Volver</button>
            </div>
        </div>
    </div>
</div>


