<div class="row align-items-md-stretch" style="width: 100%; height: 90.3%;background:linear-gradient( rgba(74, 16, 121, 0.693),rgba(223, 233, 230, 0.898))">
    
    <div class="col-md-6" id="cajaP"style="background-color: rgb(239, 240, 236);width: 90%;">
    <form [formGroup]="formularioCrearCancion" (ngSubmit)="onSubmit()" class="formulario">
<div class="" id="caja1">
    <h1 class="formulario__titulo">Informacion de la cancion</h1>
    <input type="text" class="form-control" formControlName="Titulo" id="titulo1">
    <label for="" class="formulario__label">Titulo</label>
    <input type="text" class="form-control" formControlName="Genero" id="Genero1">
    <label for="" class="formulario__label">Genero</label>
    <input type="text" class="form-control" formControlName="Artista" id="Artista1">
    <label for="" class="formulario__label">Artista</label>
    <input type="date" class="form-control" formControlName="Fecha" id="Fechas1" >
    <!--<label for="" class="formulario__label">Fecha</label>-->
    <input type="text" class="form-control" formControlName="Descripcion" id="Descripcion1">
    <label for="" class="formulario__label">Descripcion</label>
</div>
<div class="" id="caja2" style="background:linear-gradient( rgba(26, 104, 248, 0.898),rgba(159, 240, 240, 0.693));"> 
    <input type="image" class="form-control" formControlName="Imagen" id="Imagen1">
    <label for="" class="formulario__label">Imagen</label>
    <button class="enviar" id="Imagen" type="submit" >Escoge una imagen</button><br/>
    <button class="enviar" id="Enviar" type="submit" >Guardar</button><br/>
    <button class="enviar" id="Cancelar" type="submit" >Cancelar</button>
</div>
       
       
    </form>
    </div>
    <!--
      <div class="col-md-6" style="background-color: rgb(221, 17, 221); height: 100%;width: 50%;">
    <p>SN XJOWSCNXJON </p>
</div>
  -->

</div>
