<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:89.6vh">
    <div class="p-2 container" style="height:100%">
        <br>
            <h1><b>Mi perfil</b></h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" style="height:100%" >
                <div class="row" style="height:21%">
                    <div class="form-group col-4">
                        <label>Carnet de identidad</label>
                        <input type="number" formControlName="carnetDeIdentidad" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.carnetDeIdentidad.errors }"/>
                        <div *ngIf="submitted && f.carnetDeIdentidad.errors" class="invalid-feedback">
                            <div *ngIf="f.carnetDeIdentidad.errors.required">Carnet de identidad requerido</div>
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label>Nombres</label>
                        <input type="text" formControlName="nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" />
                        <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                            <div *ngIf="f.nombres.errors.required">Nombres requeridos</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Apellidos</label>
                        <input type="text" formControlName="apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }" />
                        <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                            <div *ngIf="f.apellidos.errors.required">Apellidos requeridos</div>
                        </div>
                    </div>
                </div>
                <div class="row"  style="height:21%">
                    <div class="form-group col-4">
                        <label>Fecha de nacimiento</label>
                        <input type="date" max="{{minimoFechaDeNacimiento}}"  formControlName="fechaDeNacimiento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fechaDeNacimiento.errors }" />
                        <div *ngIf="submitted && f.fechaDeNacimiento.errors" class="invalid-feedback">
                            <div *ngIf="f.fechaDeNacimiento.errors.required"> Fecha de nacimiento requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Género</label>
                        <select formControlName="sexo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sexo.errors }">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="No binario">No binario</option>
                            <option value="Transexual">Transexual</option>
                            <option value="Lesbiana">Lesbiana</option>
                            <option value="Otros">Otros</option>
                        </select>
                        <div *ngIf="submitted && f.sexo.errors" class="invalid-feedback">
                            <div *ngIf="f.sexo.errors.required"> Fecha de nacimiento requerido</div>
                        </div>
            
                    </div>
                    <div class="form-group col-4">
                        <label>Número telefónico</label>
                        <input type="number" formControlName="numeroTelefonico" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numeroTelefonico.errors }" />
                        <div *ngIf="submitted && f.numeroTelefonico.errors" class="invalid-feedback">
                            <div *ngIf="f.numeroTelefonico.errors.required"> Fecha de nacimiento requerido</div>
                        </div>
                    </div>
                </div>
                <div class="row"  style="height:21%">
                    <div class="form-group col-4">
                        <label>Correo electrónico</label>
                        <input type="email" formControlName="correoElectronico" class="form-control" autocomplete="off"  [ngClass]="{ 'is-invalid': submitted && f.correoElectronico.errors }" />
                        <div *ngIf="submitted && f.correoElectronico.errors" class="invalid-feedback">
                            <div *ngIf="f.correoElectronico.errors.required"> Fecha de nacimiento requerido</div>
                            <div *ngIf="f.correoElectronico.errors.email">El correo electronico debe estar en un formato correcto</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Estado</label>
                        <select formControlName="estado" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">
                            <option value="true">Habilitado</option>
                            <option value="false">Deshabilitado</option>
                        </select>
                        <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                            <div *ngIf="f.estado.errors.required"> Fecha de nacimiento requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Fecha de registro</label><br>
                        <label>{{fechaActualRegistro}}</label>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="form-group col-4"> 
                        <input type="password" placeholder="Nueva contraseña"  class="form-control"  formControlName="contrasena" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
                        <div *ngIf="submitted && f.contrasena.errors" class="invalid-feedback" >
                            <div *ngIf="f.contrasena.errors.required">No debe dejar este espacio en blanco</div>
                            <div *ngIf="f.contrasena.errors.minlength">La contraseña debe tener almenos 6 caracteres</div>
                        </div>
                    </div>
                    <div class="form-group col-4"> 
                        <input type="password" placeholder="Repita la contraseña"  class="form-control" formControlName="contrasenaRepetida" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contrasenaRepetida.errors }" />
                        <div *ngIf="submitted && f.contrasenaRepetida.errors" class="invalid-feedback" >
                            <div *ngIf="f.contrasenaRepetida.errors.required">No debe dejar este espacio en blanco</div>
                            <div *ngIf="f.contrasenaRepetida.errors.mustMatch">Las contraseñas deben coincidir</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button id="idEditarButton" (click)="editar()" type="button"  class="btn btn-primary">Editar</button>

                    <button id="idEnviarButton"  type="submit" [disabled]="disableSend" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Confirmar
                    </button>
                    
                    <button id="idCancelarButton" (click)="cancelar()" type="button"  class="btn btn-danger">Cancelar</button>
                </div>
            </form>
    </div>
</div>

