<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Pediste una solicitud para cambiar tu contrasena</p>
        <p> Por favor, pulse el enclace de abajo para cambiar su contrasena</p>
        <a href="http://{{link}}">Cambiar contrasena</a>
    </body>
</html>