<div class="row align-items-md-stretch" style="height: 100%;">   
    
    <!--   <main class="login-desing">  --> 
        <div class="col-md-6" style="width: 50%;display: grid; height: 100%;" id="imagen">
            <img src="assets/img/fondo1.png" style="margin-top: 10%;height: 70%;">
        </div>
    
        <div class="col-md-6" style="color: white;width: 50%; background-color: rgb(77, 115, 241);">
            <h2 id="label1" >Autenticación para administradores</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group" style="margin-top: 10%;margin-bottom: 3%;"> 
                <input type="text" placeholder="Carnet de identidad" id="boton_usuario"  formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback" style="margin-left: 10%;">
                    <div *ngIf="f.username.errors.required">No debe dejar este espacio en blanco</div>
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 3%;">
                <!--<label for="password">Password</label>-->
                <input type="password" placeholder="Contraseña" id="boton_usuario"  formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback"  style="margin-left: 10%;">
                    <div *ngIf="f.password.errors.required">No debe dejar este espacio en blanco</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" id="boton_login">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Acceder
                </button>
            </div>
            <div class="form-group">
                <button (click)="irARecuperarContrasena()" class="btn btn-primary" id="boton_login" type="button">
                    Recuperar mi contraseña
                </button>
            </div>
        </form>
       
        </div>
    <!--</main>-->
    </div>
    
    
    
    