<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:79vh">
    <div class="p-2 container" style="height:100%">
            <h1><b>Lamina 11 - Fluidez verbal</b></h1>
            <h3>Escribia todas las palabras que se le ocurran que comiencen con la letra “F”</h3>
            <form [formGroup]="form"  style="height:100%"  class="center">
                <div class="row" >
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo1" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo2" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo3" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo4" class="form-control"/>
                    </div>
                </div>
                <br>
                <div class="row" >
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo5" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo6" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo7" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo8" class="form-control"/>
                    </div>
                </div>
                <br>
                <div class="row"  >
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo9" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo10" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo11" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo12" class="form-control"/>
                    </div>
                </div>
                <br>
                <div class="row" >
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo13" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo14" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo15" class="form-control"/>
                    </div>
                    <div class="form-group col-3">
                        <input type="text" formControlName="campo16" class="form-control"/>
                    </div>
                </div>
                <br>               
                <button class="center" (click)="enviarActividad2()" type="button" mat-button color="primary" style="width: 75%; background-color: rgb(127, 127, 243);">Enviar y pasar a la siguiente actividad</button>
            </form>
           
    </div>
</div>

