<div class="bg-light"  style="min-height: 89vh; overflow: hidden;">
    <div class="p-2 container" style="min-height: 89vh;background-size: cover;background-image: url('assets/img/cerebro.png');">
        <h1>Pruebas de dasarrollo cognitivo</h1>
       <!-- <button (click)="irACrearPaciente()" class="btn btn-sm btn-success mb-2">Añadir paciente</button>-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%">codigoDePrueba</th>
                    <th style="width: 10%">nombreDePrueba</th>
                    <th style="width: 10%">descripcionDeLaPrueba</th>
                    <th style="width: 10%">duracionEstimada</th>
                    <th style="width: 10%">Tomar prueba</th>
                   
                </tr>
            </thead>
     
             <tbody>
                <tr >
                    <td>1000</td>
                    <td>Prueba Gneral</td>
                   
                    <td>Es una prueba para todas las facultades</td>
                    <td>15 a 20 minutos</td>
                    <td><button (click)="enviarActividad2()"> Tomar Prueba</button></td>
                    
                 
                </tr>
                <tr *ngIf="!PruebaDeDesarolloCognitivo">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
         
        </table>
    </div>
</div>

