<div class="bg-light"  style="overflow: hidden;min-height:79vh">
    <div class="p-2 container" style="height:100%;margin-left: 25%;">
        <br>
        <table>
            <h1><b>Resultados de la prueba</b></h1>
            <thead>
                <tr>
                    <th style="width: 10%">Actividad</th>
                    <th style="width: 10%">Puntaje Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Actividad 1 - Registro
                    </td>
                    <td>
                        {{puntajeActividad1}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 2 - Reconocimiento
                    </td>
                    <td>
                        {{puntajeActividad2}} / 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 3 - Memoria
                    </td>
                    <td>
                        {{puntajeActividad3}} / 6
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 4 - Detección visual
                    </td>
                    <td>
                        {{puntajeActividad4}} / 10
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 5 - Lógico matematico
                    </td>
                    <td>
                        {{puntajeActividad5}} / 5
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 6 - Codificación
                    </td>
                    <td>
                        {{puntajeActividad6}} / 1 
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 7 - Proceso visoespacial
                    </td>
                    <td>
                        {{puntajeActividad7}} / 1
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 8 - Reconocimiento y denominación
                    </td>
                    <td>
                        {{puntajeActividad8}} / 8
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 9 - Comprención
                    </td>
                    <td>
                        {{puntajeActividad9}} / 8
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 10 - Fluidez verbal
                    </td>
                    <td>
                        {{puntajeActividad10}} / 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 11 - Conceptualización
                    </td>
                    <td>
                        {{puntajeActividad11}} / 16
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 12 - Fluidez verbal
                    </td>
                    <td>
                        {{puntajeActividad12}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 13 - Fluidez verbal 2
                    </td>
                    <td>
                        {{puntajeActividad13}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 14 - Memoria verbal espontanea
                    </td>
                    <td>
                        {{puntajeActividad14}} / 6
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 15 - Memoria verbal espontanea por claves
                    </td>
                    <td>
                        {{puntajeActividad15}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 16 - Reconocimiento
                    </td>
                    <td>
                        {{puntajeActividad16}} / 5
                    </td>
                </tr>
               
            </tbody>
         
        </table>
        <button (click)="enviarActividad2()" type="button" mat-button color="primary" style="margin-top: 10%;width: 55%; background-color: rgb(127, 127, 243);">Ir al menú de resultados</button>
          
       
    </div>
</div>

