<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:79vh">
    <div class="p-2 container" style="height:100%;margin-left: 20%;">
        <br>
            <h1><b>Resultados de la prueba</b></h1>
            <thead>
                <tr>
                    <th style="width: 10%">Actividad</th>
                    <th style="width: 10%">Puntaje Final</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Actividad 1
                    </td>
                    <td>
                        {{puntajeActividad1}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 2
                    </td>
                    <td>
                        {{puntajeActividad2}} / 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 3
                    </td>
                    <td>
                        {{puntajeActividad3}} / 6
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 4
                    </td>
                    <td>
                        {{puntajeActividad4}} / 10
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 5
                    </td>
                    <td>
                        {{puntajeActividad5}} / 5
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 6
                    </td>
                    <td>
                        {{puntajeActividad6}} / 1 
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 7
                    </td>
                    <td>
                        {{puntajeActividad7}} / 1
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 8
                    </td>
                    <td>
                        {{puntajeActividad8}} / 8
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 9
                    </td>
                    <td>
                        {{puntajeActividad9}} / 8
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 10
                    </td>
                    <td>
                        {{puntajeActividad10}} / 4
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 11
                    </td>
                    <td>
                        {{puntajeActividad11}} / 16
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 12
                    </td>
                    <td>
                        {{puntajeActividad12}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 13
                    </td>
                    <td>
                        {{puntajeActividad13}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 14
                    </td>
                    <td>
                        {{puntajeActividad14}} / 6
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 15
                    </td>
                    <td>
                        {{puntajeActividad15}} / 3
                    </td>
                </tr>
                <tr>
                    <td>
                        Actividad 16
                    </td>
                    <td>
                        {{puntajeActividad16}} / 5
                    </td>
                </tr>
            </tbody>
    </div>
</div>

>