<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:89.6vh">
    <div class="p-2 container" style="height:100%">
        <br>
            <h1><b>Añadir Evento</b></h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" style="height:100%" >
                <div class="row" style="height:21%">
                    <div class="form-group col-4">
                        <label>Titulo</label>
                        <input type="text" formControlName="titulo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.titulo.errors }"/>
                        <div *ngIf="submitted && f.titulo.errors" class="invalid-feedback">
                            <div *ngIf="f.titulo.errors.required">Carnet de identidad requerido</div>
                        </div>
                    </div>

                    <div class="form-group col-4">
                        <label>Descripcion</label>
                        <input type="text" formControlName="descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }" />
                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                            <div *ngIf="f.descripcion.errors.required">Nombres requeridos</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <div class="form-group col-4">
                            <label>Fecha de publicacion</label><br>
                            <label>{{fechaActual}}</label>
                        </div>
                    </div>
                </div>
                <div class="row"  style="height:21%">
                    <div class="form-group col-4">
                        <label>Fecha del evento</label>
                        <input type="date" formControlName="fechaDelEvento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fechaDelEvento.errors }" />
                        <div *ngIf="submitted && f.fechaDelEvento.errors" class="invalid-feedback">
                            <div *ngIf="f.fechaDelEvento.errors.required"> Fecha de nacimiento requerido</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label>Imagen</label>
                        <input (change) ="capturarFile($event)" type="file" formControlName="imagen" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.imagen.errors }" />
                        <div *ngIf="submitted && f.imagen.errors" class="invalid-feedback">
                            <div *ngIf="f.imagen.errors.required">Nombres requeridos</div>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label><b>Estado</b></label>
                        <select formControlName="estado" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">
                            <option value="true">Habilitado</option>
                            <option value="false">Deshabilitado</option>
                        </select>
                        <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                            <div *ngIf="f.estado.errors.required">Estado es un campo  requerido</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Enviar
                    </button>
            
                    <button (click)="irAListarEvento()"  class="btn btn-danger">Cancelar</button>
                </div>
            </form>
    </div>
</div>

