<div class="bg-light"  style="height:75vh">
    <div class="p-2 container" style="">
        <br>
            <form [formGroup]="form" style="max-height: 95%; overflow-x: hidden; margin-left: 25%;">
                <h1><b>Actividad 3 - Memoria</b></h1>
                <p>Escriba la siguiente serie en orden regresivo del ultimo numero al primero.<br> por ejemplo: 
                    2 - 5, escriba 5 – 2 </p>
                    
                <div class="row" >
                    <div class="form-group col-4">
                        <h3>1.	4 – 8</h3>
                    </div>
                    <div class="form-group col-8">
                        <input  formControlName="p1_d1" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p1_d2" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p1_d3" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p1_d4" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p1_d5" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-4">
                        <h3>2.	 2 – 8 – 3 </h3>
                    </div>
                    <div class="form-group col-8">
                        <input  formControlName="p2_d1" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p2_d2" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p2_d3" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p2_d4" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p2_d5" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p2_d6" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p2_d7" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-4">
                        <h3>3.	 8 – 6 – 3 – 2</h3>
                    </div>
                    <div class="form-group col-8">
                        <input  formControlName="p3_d1" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p3_d2" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p3_d3" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p3_d4" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p3_d5" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p3_d6" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p3_d7" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-4">
                        <h3>4.	 6 – 3- -5 – 1</h3>
                    </div>
                    <div class="form-group col-8">
                        <input  formControlName="p4_d1" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p4_d2" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p4_d3" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p4_d4" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p4_d5" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p4_d6" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-4">
                        <h3>5.	 5 – 2 – 7 – 8</h3>
                    </div>
                    <div class="form-group col-8">
                        <input  formControlName="p5_d1" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p5_d2" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p5_d3" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p5_d4" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p5_d5" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p5_d6" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p5_d7" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                    </div>
                </div>
                <div class="row" >
                    <div class="form-group col-4">
                        <h3>6.	 1 – 4 – 9 – 3 – 2 – 7</h3>
                    </div>
                    <div class="form-group col-4">
                        <input  formControlName="p6_d1" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d2" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d3" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d4" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d5" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d6" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d7" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d8" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                        <input  formControlName="p6_d9" type="text" class="digit mx-1" min="0" maxlength=1 (keyup)="moveToNext($event)">
                    </div>
                </div>
                <br>
                <button (click)="enviarActividad2()" type="button" mat-button color="primary" style="width: 58%; background-color: rgb(127, 127, 243);">Enviar y pasar a la siguiente actividad</button>
                <br>
                <br>
            </form>
    </div>
</div>

