
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="true" style="width: 22%; align-items: center; display: flex;
    justify-content: center;">
    <section class="app">
      <aside class="sidebar">
             <header style=" width: 100%;;color: white;" color="secondary">
            Menú
          </header>
        <nav class="sidebar-nav">
          <ul>
            <li>
              <a><i class="ion-bag" ></i> <span ><img src="assets/img/iconos/cliente.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;
                Usuarios</span></a>
              <ul class="nav-flyout">
        
                <li>
                  <a  (click)="mostrarPacientes()" class="myClase" style="color: white;" ><i class="ion-ios-clock-outline" ></i>
                    <img src="assets/img/iconos/programador.png" id="botonPacientes" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;Pacientes</a>
                </li>
                <li>
                  <a (click)="mostrarPsicologos()" class="myClase" style="color: white;"  ><i class="ion-heart-broken"></i>
                    <img src="assets/img/iconos/psicologo.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;Psicologos</a>
                </li>
                <li>
                    <a (click)="renderlistarAdministrador()" class="myClase" style="color: white;"  ><i class="ion-heart-broken"></i>
                      <img src="assets/img/iconos/administrador.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp; Adminsitradores</a>
                  </li>
              </ul>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="renderGestionEventos()"><i class="ion-ios-medical-outline"></i> <span class="">
                <img src="assets/img/iconos/evento.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp; Eventos del centro psicologico</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="logout()"><i class="ion-ios-medical-outline"></i> <span class="">
                <img src="assets/img/iconos/cerrar-sesion1.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;Cerrar sesión</span></a>
            </li>
          </ul>
        </nav>
      </aside>
    </section>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-template #dynamicComponent></ng-template>
    </mat-sidenav-content>
     