<div class="row align-items-md-stretch" style="width: 100% !important; height: 90.3% !important;background-color: rgb(234, 243, 243)">
    <div class="col-md-6" style=" background:linear-gradient( rgba(196, 245, 18, 0.693),rgba(58, 238, 184, 0.898));width: 50%;">
      <br>
  <div>
    <p>MIS METAS PERSONALES</p>
    <form [formGroup]="miformularioMetasPersonales">
        Titulo:<input type="text" class="form-control" formControlName="Titulo">
        Fecha:<input type="date" class="form-control" formControlName="Fecha">
        Prioridad:<input type="text" class="form-control" formControlName="Prioridad">
        Descripcion:<input type="text" class="form-control" formControlName="Descripcion"><br/>
        <button class="btn btn-primary" type="submit" >Guardar</button><br/>
        <button class="btn btn-primary" type="submit" >Cancelar</button>
    </form>
</div>
</div>
</div>
