<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:89.6vh">
    <div class="p-2 container" style="height:100%">
        <div class="row" >
            <div class="col-6">
                <img type="text" src="assets/img/brain.png" style="max-width: 200px;max-height: 200px;" class="center"/>
                <br>
                <br>
                <button (click)="cambiarAplicacion()" mat-button color="primary" style="width: 100%; background-color: rgb(127, 127, 243);">Iniciar</button>
                <button mat-button color="warn" style="width: 100%;background-color: rgb(242, 117, 117); ">Cancelar</button>
            </div>
            <div class="col-6">
                <br>
                <h1>Prueba de desarollo cognitivo general</h1>
                <h3>Descripción de la prueba</h3>
                <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original.</p>
                <br>
                <h3>Instrucciones de la prueba</h3>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Praesent vulputate leo sed enim tempor, vitae accumsan risus maximus.</li>
                <li>Ut sit amet purus tristique orci vestibulum molestie eget in dolor.</li>
                <li>Donec eget ex nec neque pharetra viverra.</li>
                <li>Integer malesuada urna et nisl vestibulum pulvinar.</li>
                <li>Proin ut sapien viverra, egestas eros in, fermentum turpis.</li>
                <li>Donec luctus ligula eu leo accumsan mattis.</li>
                <li>Cras vitae ex et mauris fermentum feugiat.</li>
                <li>Aenean pulvinar dolor id elit varius, vel consectetur nibh condimentum.</li>
                <li>Ut eu justo tincidunt, interdum leo sit amet, accumsan ligula.</li>
            </div>
        </div>
    </div>
</div>


