<div class="bg-light"  style="min-height: 89vh; overflow: hidden;">
    <div class="p-2 container"  style="min-height: 89vh;background-size: cover;background-image: url('assets/img/cerebro.png');">
    <h1>Psicologos registrados</h1>
    <Button (click)="irACrearPsicologo()" class="btn btn-sm btn-success mb-2">Añadir psicologo</Button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 10%">Carnet de identidad</th>
                <th style="width: 15%">Nombres y apellidos</th>
                <th style="width: 10%">Fecha de nacimiento</th>
                <th style="width: 10%">Fecha de registro</th>
                <th style="width: 10%">Número telefónico</th>
                <th style="width: 15%">Correo electrónico</th>
                <th style="width: 10%">Sexo</th>
                <th style="width: 10%">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let psicologo of psicologos">
           
                <td>{{psicologo.carnetDeIdentidad}}</td>
                <td>{{psicologo.nombres}}    {{psicologo.apellidos}}</td>
                <td>{{convertirFechaYQuitarHoras(psicologo.fecha_de_nacimiento)}}</td>
                <td>{{convertirFechaYQuitarHoras(psicologo.fechaDeRegistro)}}</td>
                <td>{{psicologo.numeroTelefonico}}</td>
                <td>{{psicologo.correoElectronico}}</td>
                <td>{{psicologo.sexo}}</td>
                
                <td>
                <span *ngIf="(psicologo.estado == false)" >Deshabilitado</span>
                        <span *ngIf="(psicologo.estado == true)" >Habilitado</span>
                        </td>
                <td style="white-space: nowrap">
                  <button (click)="habilitarPsicologo(psicologo.id)" class="btn btn-sm btn-primary mr-1" [disabled]="isHabilitar">
                        <span *ngIf="isHabilitar && idpsicologoActual==psicologo.id" class="spinner-border spinner-border-sm"></span>Habilitar</button> 
                   <button (click)="deshabilitarPsicologo(psicologo.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="isDeleting"> 
                    <span *ngIf="isDeleting && idpsicologoActual==psicologo.id" class="spinner-border spinner-border-sm"></span>Deshabilitar</button>
                </td>
            </tr>
            <tr *ngIf="!psicologos">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
