<div class="row align-items-md-stretch" style="width: 100% !important; height: 90.3% !important;background-color: rgb(234, 243, 243)">
    <div class="col-md-6 backgroundControlDeAgua" style="width: 50%;">
      <br>
  <div>
        <h1 class="estilo_letra">
        <b>¿CUANTA AGUA TOMASTE EL DIA DE HOY?</b>
      
        </h1>
        <img src="assets/img/agua6.png" class="imagen">
        <div class="contenedor_opciones">
    
    
          <button class="boton_agregar" (click)="guardarRegistros('8 Vasos')">8 Vasos</button> <br>
          <button class="boton_agregar" (click)="guardarRegistros('7 Vasos')">7 Vasos</button> <br>
          <button class="boton_agregar" (click)="guardarRegistros('5 Vasos')">5 Vasos</button> <br>
          <button class="boton_agregar" (click)="guardarRegistros('3 Vasos')">3 Vasos</button>
       
       </div>
    
  </div>
  
 
    </div>
        <div class="col-md-6" style="background-color: rgb(234, 243, 243);width: 50%;">
          <div>
            <p id="textoConfirmatorio" style="font-size:x-large;width: 100%; text-align: center;margin-top: 2%;">{{estadoActividad}}</p>
          </div> 
           <div class="calendario" style="background-color: rgb(234, 243, 243) ; width: 100% !important; width: 50%;">
            <full-calendar [options]="calendarOptions"></full-calendar>
           </div>  
        </div>
      
      </div>
    <router-outlet></router-outlet>