@import "~bootstrap/dist/css/bootstrap.css";
.backgroundControlDeAgua{
background-color: var(--background-control-de-agua);
}

#contenedor2{
background-color: rgb(218, 226, 210);
width: 50.1%;
margin: 0.5em;
//height: 500px;
}
.estilo_letra {
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(10, 10, 10);
  text-align: center;
  //background-color: blue;
}
.imagen{
  width:30vh;
  height: 37vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background:linear-gradient( rgba(0, 162, 255, 0.5),white)
}
.contenedor_opciones{
  margin-top: 1%;
  text-align: center;
  height:40%;
}
#botones{
  width: 50%;
}
.boton_agregar{
  margin-top: 1%;
  margin-bottom: 2%;
  height: 7vh;
  width: 30vh;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(12, 12, 12);
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border:2px solid #0210d1;
  margin-left: 10px;
  z-index: 0;
  font-weight: 700;
 &::before{

   content: '';
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   margin: auto;
   background-color: #20e2d7;
   transition: all 500ms ease;
   z-index:-1;
 }
}
.boton_agregar:hover{
  background-color: #20e2d7; 
  box-shadow: 0 0 10px #20e2d7,0 0 20px #20e2d7,0 0 20px #20e2d7;
  border: 2px solid #ffffff;
  color:#ffffff ;
}
