<div class="bg-light"  style="min-height:89.6vh; overflow: hidden;">
  <div class="p-4 container" style="height:100%;">
    <h1><b>Resumen de mi agenda virtual</b></h1>
    <select id="anio" name="anio" >
      <option value="2021">2021</option>
      <option value="2022">2022</option>
    </select>
    <select id="mes" name="mes" >
      <option value="1">ENERO</option>
      <option value="2">FEBRERO</option>
      <option value="3">MARZO</option>
      <option value="4">ABRIL</option>
      <option value="5">MAYO</option>
      <option value="6">JUNIO</option>
      <option value="7">JULIO</option>
      <option value="8">AGOSTO</option>
      <option value="9">SEPTIEMBRE</option>
      <option value="10">OCTUBRE</option>
      <option value="11">NOVIEMBRE</option>
      <option value="12">DICIEMBRE</option>
    </select>
    <button (click)="cambiarAnio()">Filtrar</button>
  
      <div class="row" >
          <div class="col-6" style="">
            <div style="text-align: center;">
              <h3><b>Control de hidratación</b></h3>
              <div style="display: block;width:500px;height: 350px;">
                <canvas baseChart
                        [datasets]="controlDeAguabarChartData"
                        [labels]="controlDeAguaBarChartLabels"
                        [legend]="controlDeAguabarChartLegend"
                        [chartType]="controlDeAguabarChartType">
                </canvas>
                <br>
                El control de hidratación se ha marcado {{controlDeAguaActualizado.length}}  de 31 dias 
              </div>
           
            </div>
          </div>
          <div class="col-6" style="">
            <div style="text-align: center;">
              <h3><b>Control de sueño</b></h3>
              <div style="display: block;width:500px;height: 350px;">
                <canvas baseChart
                        [datasets]="controlDeSuenobarChartData"
                        [labels]="controlDeSuenobarChartLabels"
                        [legend]="controlDeSuenobarChartLegend"
                        [chartType]="controlDeSuenobarChartType">
                </canvas>
                <br>
                El control de sueño se ha marcado {{controlDeSuenoActualizado.length}} de 31 dias 
              </div>
            </div>
          </div>
      </div>
      <div class="row" >
        <div class="col-6" style="">
          <div style="text-align: center;">
            <h3><b>Control de animo</b></h3>
            <div style="display: block;width:500px;height: 350px;">
              <canvas baseChart
                      [datasets]="controlDeAnimobarChartData"
                      [labels]="controlDeAnimobarChartLabels"
                      [legend]="controlDeAnimobarChartLegend"
                      [chartType]="controlDeAnimobarChartType">
              </canvas>
              <br>
              El control de animo se ha marcado {{controlDeAnimoActualizado.length}}  de 31 dias 
            </div>
          </div>
        </div>
        <div class="col-6" style="">
          <div style="text-align: center;">
            <h3><b>Control de energía</b></h3>
            <div style="display: block;width:500px;height: 350px;">
              <canvas baseChart
                      [datasets]="controlDeEnergiabarChartData"
                      [labels]="controlDeEnergiabarChartLabels"
                      [legend]="controlDeEnergiabarChartLegend"
                      [chartType]="controlDeEnergiabarChartType">
              </canvas>
              <br>
              El control de energia se ha marcado {{controlDeEnergiaActualizado.length}}  de 31 dias 
            </div>
          </div>
          
        </div>
    </div>
    <div class="row" >
      <div class="col-6" style="">
        <div style="text-align: center;">
          <h3><b>Control de estudio</b></h3>
          <div style="display: block;width:500px;height: 350px;">
            <canvas baseChart
                    [datasets]="controlDeEstudiobarChartData"
                    [labels]="controlDeEstudiobarChartLabels"
                    [legend]="controlDeEstudiobarChartLegend"
                    [chartType]="controlDeEstudiobarChartType">
            </canvas>
            <br>
            El control de estudio se ha marcado {{controlDeEstudioActualizado.length}}  de 31 dias 
          </div>
        </div>
      </div>
      <div class="col-6" style="">
        <div style="text-align: center;">
          <h3><b>Mis metas personales</b></h3>
          <div style="display: block;width:500px;height: 350px;">
            <canvas baseChart
                    [datasets]="misMetasPersonalesbarChartData"
                    [labels]="misMetasPersonalesbarChartLabels"
                    [legend]="misMetasPersonalesbarChartLegend"
                    [chartType]="misMetasPersonalesbarChartType">
            </canvas>
           
          </div>
        </div>
      </div>
  </div>
  <div class="row" >
    <div class="col-6" style="">
      <div style="text-align: center;">
        <h3><b>Mis libros</b></h3>
        <div style="display: block;width:500px;height: 350px;">
          <canvas baseChart
                  [datasets]="misLibrosbarChartData"
                  [labels]="misLibrosbarChartLabels"
                  [legend]="misLibrosbarChartLegend"
                  [chartType]="misLibrosbarChartType">
          </canvas>
     <br>
            Se han registrado {{listaDeLibrosActualizado.length}} libros a lo largo del año  
        </div>
      </div>
    </div>
    <div class="col-6" style="">
      <div style="text-align: center;">
        <h3><b>Mis Canciones</b></h3>
        <div style="display: block;width:500px;height: 350px;">
          <canvas baseChart
                  [datasets]="misCancionesbarChartData"
                  [labels]="misCancionesbarChartLabels"
                  [legend]="misCancionesbarChartLegend"
                  [chartType]="misCancionesbarChartType">
          </canvas>
          <br>
          Se han registrado {{listaDeCancionesActualizado.length}} canciones  a lo largo del año
        </div>
      </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-6" style="">
        <div style="text-align: center;">
          <h3><b>Metas personales</b></h3>
          <div style="display: block;width:500px;height: 350px;">
            <canvas baseChart
                    [datasets]="misMetasSocialesbarChartData"
                    [labels]="misMetasSocialesbarChartLabels"
                    [legend]="misMetasSocialesbarChartLegend"
                    [chartType]="misMetasSocialesbarChartType">
            </canvas>
            <br>
            Se han registrado {{listaDeMetasPersonalesActualizado.length}} metas personales a lo largo del año
          </div>
        </div>
      </div>
      <div class="col-6" style="">
       
        </div>
      </div>
  </div>
</div>





