
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" opened="true" style="width: 17%; align-items: center; display: flex;
    justify-content: center;">
    
    <section class="app">
      <aside class="sidebar">
             <header style=" width: 100%;;color: white;">
            Menú
          </header>
        <nav class="sidebar-nav">
          <ul>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="mostrarPacientes()"><i class="ion-ios-medical-outline"></i> <span class="">
                <img src="assets/img/iconos/programador.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;Pacientes</span></a>
            </li>
            <li style="float: inline-end; height: 50%;">
              <a href="#" (click)="logout()"><i class="ion-ios-medical-outline"></i> <span class="">
                <img src="assets/img/iconos/cerrar-sesion1.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;Cerrar sesión</span></a>
            </li>
          </ul>
        </nav>
      </aside>
    </section>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-template #dynamicComponent></ng-template>
    </mat-sidenav-content>
     