<div id="contenedorMetasPersonales"  class=" row align-items-md-stretch" style="width: 100% !important; height: 90.3% !important;background-color: rgb(253, 173, 0)">
    <div id="scroll" class="col-md-6" style=" background:linear-gradient( rgba(125, 239, 247, 0.693),rgba(163, 142, 238, 0.898));width: 50%;" >
        <div style="width: 100%; text-align: center;">
            <h2><i><b>Mis metas personales</b></i></h2>
         </div>
        <div *ngFor="let metasPersonales of listaDeMetasPersonales">
            <button (click)="visualizarMetaPersonal(metasPersonales)" class="boton">{{metasPersonales.titulo}}</button><br>
        </div>
    </div>

    <div class="col-md-6" id="informacion" style="background:linear-gradient( rgba(163, 142, 238, 0.898),rgba(163, 142, 238, 0.898));width: 50%;" >
        <form [formGroup]="miformularioMetasPersonales" class="formulario">
            <img src="assets/img/trofeo.png" class="imagen" alt="">
            <input style="visibility:hidden;"  type="file" class="form-control" formControlName="Imagenn"><br/>
            
            <button class="btn btn-primary"  (click)="irACrearMetasPersonales()" id="boton_form3">Registrar nueva meta personal</button><br><br>
            <p for="" id="mensaje">{{estadoCampo}}</p>
            <label>Titulo:</label> <input type="text" class="form-control" formControlName="Titulo" id="titulo1" style="width: 80%;"><br/>
            <p for="" id="mensaje2">{{estadoCampo2}}</p>
            <label>Fecha:</label> <input type="date" class="form-control" formControlName="FechaFin"  id="fechaFin1" style="width: 80%;"><br/>
            <p for="" id="mensaje3">{{estadoCampo3}}</p>
            <label> Prioridad:</label> <input type="text" class="form-control" formControlName="Prioridad"  id="prioridad1" style="width: 80%;"><br/>
            <p for="" id="mensaje4">{{estadoCampo4}}</p>
            <label>Descripcion:</label> <input type="text" class="form-control" formControlName="Descripcion"  id="descripcion1" style="width: 80%;"><br/>
            <button class="btn btn-primary" (click)="editarMetaPersonal()" id="boton_form">Editar</button>
            <button class="btn btn-primary" (click)="GuardarCambiosMetaPersonal()" id="boton_form">Guardar cambios</button>
            <button class="btn btn-primary" (click)="eliminarMetaPersonal()"id="boton_form2">Eliminar</button>
            <button class="btn btn-primary" (click)="cancelar()" id="boton_form2" style="width: 73%;">Cancelar</button>
        </form>
    </div>
   
       
</div>