<div class="bg-light"  style="min-height: 320px; overflow: hidden;height:79vh">
    <div class="p-2 container" style="height:100%;margin-left: 20%;">
        <br>
            <h1><b>Actividad 5 - matemáticas</b></h1>
            <form [formGroup]="form"  style="height:100%" >
                <div class="row" >
                    <div class="form-group col-4" >
                        <label>¿Cual es el resultado de 100 menos 7?</label>
                    </div>
                    <div class="form-group col-4">
                        <input type="number" formControlName="mateRsp1" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <button mat-button color="primary" (click)="calificar(1)">Verificar</button>
                    </div>
                </div>
                <br>
                <div class="row" id="pregunta2">
                    <div class="form-group col-4">
                        <label>¿Cual es el resultado de {{resultado1}} menos 7?</label>
                    </div>
                    <div class="form-group col-4">
                        <input type="number" formControlName="mateRsp2" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <button mat-button color="primary" (click)="calificar(2)">Verificar</button>
                    </div>
                </div>
                <br>
                <div class="row"  id="pregunta3">
                    <div class="form-group col-4">
                        <label>¿Cual es el resultado de {{resultado2}} menos 7?</label>
                    </div>
                    <div class="form-group col-4">
                        <input type="number" formControlName="mateRsp3" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <button mat-button color="primary" (click)="calificar(3)">Verificar</button>
                    </div>
                </div>
                <br>
                <div class="row"  id="pregunta4">
                    <div class="form-group col-4">
                        <label>¿Cual es el resultado de {{resultado3}} menos 7?</label>
                    </div>
                    <div class="form-group col-4">
                        <input type="number" formControlName="mateRsp4" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <button mat-button color="primary" (click)="calificar(4)">Verificar</button>
                    </div>
                </div>
                <br>
                <div class="row"  id="pregunta5" >
                    <div class="form-group col-4">
                        <label>¿Cual es el resultado de {{resultado4}} menos 7?</label>
                    </div>
                    <div class="form-group col-4">
                        <input type="number" formControlName="mateRsp5" class="form-control"/>
                    </div>
                    <div class="form-group col-4">
                        <button mat-button color="primary" (click)="calificar(5)">Verificar</button>
                    </div>
                </div>
                <br>
                <button (click)="enviarActividad2()" id="resultadoBtn" type="button" mat-button color="primary" style="width: 65%; background-color: rgb(127, 127, 243);">Enviar y pasar a la siguiente actividad</button>
            </form>
    </div>
</div>
